doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/fastselect/dist/fastselect.css')

    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/fastsearch/dist/fastsearch.min.js")
    script(src="/bower_components/fastselect/dist/fastselect.js")

  body
    block content
