extends ../layout
block content
    a(href="/incedent/new") Создать инцидент
    br
    br
    div.row.example_row
        label
        input(type="text", multiple)
        input(type="number", placeholder="задержка минут", name="language", value="10")
    input.group_name(type="text", placeholder="Имя группы")
    button.save_group save group
    button.add_string new string
    div.rows_wrap

    script.
        let rows = {};
        $(".save_group").on('click', function () {
            if (!$('.group_name').val()) {
                alert('введите имя группы');
                return;
            }
            let insert_val = {};
            for (let i in rows) {
                insert_val[i] = {};
                insert_val[i].delay = rows[i].$el.siblings('input').val();
                insert_val[i].user_ids = [];
                console.log(rows[i].optionsCollection.selectedValues);
                for (let j in rows[i].optionsCollection.selectedValues) {
                    insert_val[i].user_ids.push(j);
                }
            }
            console.log(insert_val);
            $.post({
                type: 'POST',
                url: '/groups/save',
                data: {
                    data: JSON.stringify(insert_val),
                    name: $('.group_name').val()
                },
                success: function () {
                    alert('готово');
                },
                dataType: 'json'
            });
        });
        $(".add_string").on('click', function () {
            let newstring = $(".example_row").clone();
            let last_id = $(".rows_wrap .row").length;
            newstring.find('label').text(++last_id);
            newstring.removeClass("example_row").attr("row_id", last_id);
            $(".rows_wrap").append(newstring[0]);
            activatTags(newstring.find('input'), last_id);
        })
        function activatTags (element, row_num) {
            let options = {
                url: "/getusers",
                loadOnce: true,
                //initialValue :[{"text": "Algeria", "value" : "Algeria"}]
            };
            //element.fastselect(options);

            var fastSelectInstance = new $.Fastselect(element.get(0), options);
            rows[row_num] = fastSelectInstance;
        }
        activatTags($('.row:not(.example_row) input'), 1);

