extends ../layout
block content
    a(href="/groups/new") Создать группу
    br
    br
    form(action="/incedent/new", method="post")
        input(name="title", placeholder="тема")
        br
        textarea(name="description", placeholder="описание")
        br
        select(name="groups", multiple=true)
            each val in groups
                option(value=val.id)= val.name
        br
        button отправить уведомление